<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Accounts - Listing</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="icon" type="image/png" href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.licdn.com%2Fdms%2Fimage%2Fv2%2FD5603AQGAQqitwr4ukQ%2Fprofile-displayphoto-shrink_200_200%2Fprofile-displayphoto-shrink_200_200%2F0%2F1720034841893%3Fe%3D2147483647%26v%3Dbeta%26t%3D1f9mT2x42_Un6g3P4iM57IdU8A0gU5lkvSEIJP3aq3w&f=1&nofb=1&ipt=7d7bdfc2c166b613e11d3432f0092f6e3893cd102deeb96782f5d0837925159e">
    </head>
    <body>
        <div class="table-ledger-content my-5 mx-5">
            <div class="flex flex-col items-center">
                <table class="text-center min-w-max shadow-md w-full h-full">
                    <thead>
                    <tr>
                        <th class="border-spacing-5 rounded rounded-2xl py-3 px-2 bg-slate-800 text-white">ID</th>
                        <th class="border-spacing-5 rounded rounded-2xl py-3 px-2 bg-slate-800 text-white w-[50%]">Account</th>
                        <th class="border-spacing-5 rounded rounded-2xl py-3 px-2 bg-slate-800 text-white">Balance</th>
                        <th class="border-spacing-5 rounded rounded-2xl py-3 px-2 bg-slate-800 text-white w-4">Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="x: ${accounts}" class="hover:text-bold hover:text-black hover:bg-gray-200">
                        <td class="p-4 border-b border-gray-200" th:text="${x.id}"></td>
                        <td class="p-4 border-b border-gray-200" th:text="${x.desc}"></td>
                        <td class="p-4 border-b border-gray-200 text-end currency-text " th:text="${x.balance}"></td>
                        <td class="p-4 border-b border-gray-200">
                            <a th:href="@{ledger/update(id=${x.id})}" class="hover:bg-orange-500 bg-gray-200 text-white p-3 rounded rounded-xl">Update</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script>
        let x = document.querySelectorAll(".currency-text");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                .toLocaleString('th', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
            x[i].innerHTML = "฿" + num;
        }
    </script>
</html>